/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal
 *  and widescreen CSS files as appropriate. */


#zone-midzone3-wrapper {
  .webform-client-form {
    .webform-component--we-look-forward-to-hearing-from-you {
      text-align: center;
      font-size: 28px;
      margin: 0 0 10px 0;
    }
    .form-actions {
      float: right;
      width: 50%;
      margin: 0 0 10px 0;
    }
    .webform-submit {
      width: 100%;
      padding: 15px;
    }
    .webform-component--contact-info {
      float: left;
      width: 50%;
        .webform-contact-phone-wrapper, .webform-contact-address-wrapper, .webform-contact-fax-wrapper, .webform-contact-email-wrapper {
          float: left;
          width: 100%;
          margin: 0 0 20px 0;

          .webform-contact-phone-title, .webform-contact-fax-title, .webform-contact-address-title, .webform-contact-email-title {
            font-size: 20px;
            font-weight: bold;
            color: #10557E;
          }
          .webform-contact-phone, .webform-contact-fax, .webform-contact-address, .webform-contact-email {
            font-size: 15px;
            color: #10557E;
            font-style: italic;
          }
      }
    }
    .webform-component--contact-fields {
      margin-bottom: 0;
      input[type="text"], input[type="email"], textarea {
        background: #e1e1e1;
        padding: 16px;
        width: 100%;
      }
      label {
        padding: 8px 15px;
        font-weight: 300;
        font-size: 15px;
    }
    }
    
  }
}

//About Us

.zone-content {
  .region-sidebar-second {
    .block-testimonial-block-1 {
      .views-row {
        position: relative;
        top: -40px;
      }
      .views-field-field-client-picture {
        text-align: center;
        position: relative;
        top: 52px;
        width: 100%;
          img {
            border-radius: 62px;
            border: 5px solid #C9C1C1;
          }
        }
        .views-field-body, .views-field-field-name, .views-field-field-client-title {
          background: #C9C1C1;
          padding: 10px;
      }
        h2 {
          text-align: center;
          padding-top: 10px;
       }
    }
  }
}

//Services

.block-views-services-block {
  .views-row {
      width: 330px;
      float: left;
      margin: 0 10px;
      height: 349px;
    .views-field-body {
      position: relative;
      bottom: 32px;
      height: 34px;
    }
    .views-field-title {
      background: #000;
      padding: 10px;
      a {
      color: #fff;
      }
    }
  }
}

//Menu

.zone-branding {
  .block-superfish {
    margin: 56px 0 0 0;
      ul {
        li {
          a {
            padding: 0.75em .50em;
          }
        }
      }
  }
}


#region-user-second {
  background-color: #D9B259;
  width: initial;
    .block {
      .content {
        p {
          font-size: 13px;
        }
      }
    }
}

//Locations

.node-locations {
  .group-left {
    width: 100%;
  }
  .group-right {
    width: 100%;
  }
}

.node-type-locations { 
  .zone-content {
    .region-content {
      position: relative;
      bottom: 52px;
      margin-top: 20px;
      
        #page-title {
          font-size: 25px;
          color: #fff;
          text-shadow: 0 0 8px #3D3D3D;
          margin: 10px;
        }
      .group-right {
        .field-type-office-hours, .field-name-field-locations {
            padding: 0;
            background: #DCB55A;
            color: #fff;
            margin: 10px 0;
            border-radius: 3px;
              .field-label {
                font-weight: bold;
                padding: 10px;
                background: #282828;
                border-radius: 3px 3px 0 0;
                color: #fff;
              }
              .field-items {
                  padding: 10px;
                  font-weight: 500;
              }
        }
      }
  } 
 }
}


//Location Page

.node-type-locations {
  .field-name-field-employee-picture {
    img {
        border-radius: 101px;
        border: 10px solid #D9B359;
        box-shadow: 0px 0px 22px #B6B4B4;
    }
  }
}

//Franchise

.block-webform-client-block-20 {
  background: #c9c1c1;
  padding: 10px;
  margin: 10px 0;
    h2 {
      color: #10557E;
      font-size: 22px;
      text-align: center;
    }
    label {
      padding: 12px 12px;
      font-weight: 300;
    }
    input{
      background: #e1e1e1;
      padding: 20px;
      width: 100%;
  }
    .form-textarea-wrapper {
      width: 100%;
    }
}

.block-views-clinic-slideshow-block {
  z-index: 0;
  position: relative;
}

//Contact

.zone-content {
  .block-views-clinic-locations-block {
    .view-clinic-locations {
      .views-row {
          float: left;
          width: 320px;
          height: 429px;
          background-color: #DCB55A;
          padding: 20px 10px;
          margin: 5px;
          border-radius: 4px;
          box-shadow: 0 0 10px #eaeaea;
          .views-field-address {
          text-align: center;
              .region {
                margin: 0;
              }
          }
          .views-field-view-node {
          text-align: center;
          margin: 20px 0;
            a {
              background: #fff;
              padding: 10px;
              border-radius: 2px;
              color: #5C4611;
              font-weight: bold;
            }
          }
          .views-field-title {
            text-align: center;
            margin: 10px 0;
            font-weight: bold;
            font-size: 15px;
          }
          .views-field-field-main-clinic-image {
              width: 100%;
              text-align: center;
              img {
                  border-radius: 101px;
                  border: 10px solid #FFFFFF;
                  box-shadow: 0px 0px 1px #474747;

              }
        }
      }

    }
  }
}

.node-type-locations {
  .group-left {
    .field-item {
      .field-name-field-employee-information {
        width: 71%;
        float: left;
        margin: 10px 0 10px 21px;
      }
    }
  }
}



//Footer 

#block-block-8 p {
  float: right;
  font-size: 11px;
}

.zone-content {
  #block-views-doctors-list-block {
    .view-doctors-list {
      .views-row {
        .views-field-field-doctor-picture {
          width: 14%;
          text-align: initial;
        }

        .views-field-field-doctor-information {
          width: 78%;
        }
      }
    }
  }
}

h1#page-title {
  font-size: 41px;
}

#zone-user-wrapper {
  .block-block-2 {
    width: auto;
    text-align: initial;
  }
}

.page-node-55 table {
	width: 650px !important;
}
